body {
    margin: 0;
    padding: 0;
}
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    margin: 0;
    padding: 0;
}
img {
    width: 100%;
}
// Aux
.container {
    max-width: 1200px !important;
    width: 90% !important;
    margin: 0 auto;
}
// Colors
$purple: #2a0431;
$blue: #0895a0;
$pink: #e52976;
$softblue: #0ac0dd;
$orange: #e8763c;
$yellow: #f2be42;
$whats: #25d366;
// Fonts
h1, h2, h3, p, a, span {
    font-family: "Nanum Gothic", sans-serif;
}
h2 {
    font-family: "Grenze Gotisch", cursive;
}
body {
    .hero-wrapper {
        height: 100vh;
        width: auto;
        overflow: hidden;
        .hero {
            background-image: url(../assets/hero/heroimg.png);
            height: 100%;
            width: auto;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            flex-direction: column;
            animation: scale 15s;
            img {
                width: 200px;
                opacity: 0;
                animation: moveBanner 1s 0.7s forwards;
            }
            span {
                color: white;
                position: absolute;
                bottom: 2rem;
                font-family: "Grenze Gotisch", cursive;
                text-align: center;
            }
        }
    }
    // Us section
    .us {
        height: auto;
        width: 100%;
        .container {
            .title-container {
                margin: 4rem auto;
                width: auto;
                height: 21px;
                background-color: $blue;
                display: flex;
                justify-content: center;
                align-items: center;
                @media (min-width: 768px) {
                    margin: 4rem auto;
                    width: auto;
                }
                .h2Cont {
                    width: auto;
                    height: 96px;
                    background-color: $pink;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: white;
                    font-size: 30px;
                    @media (min-width: 768px) {
                        width: 469px;
                    }
                    h2 {
                        font-family: "Grenze Gotisch", cursive;
                        font-size: 60px;
                    }
                }
            }
        }
        .grid-us {
            display: grid;
            grid-template-columns: 1fr;
            align-items: center;
            @media (min-width: 768px) {
                grid-template-columns: 70% 30%;
            }
        }
    }
    // End of us section
    // purple division
    .purple-division {
        background-image: url(../assets/purple-division.png);
        width: 100%;
        height: 230px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    // End of purple division
    .little-div {
        background-image: url(../assets/purple-division.png);
        width: 100%;
        height: 100px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        margin-top: 3rem;
    }
    //Mission
    .mission {
        background-image: url(../assets/mision/back-vision.png);
        height: 900px;
        width: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
        @media (min-width: 768px) {
            height: 700px;
        }
        .container {
            text-align: center;
            h2 {
                color: white;
            }
            p {
                color: white;
            }
        }
        .max-p {
            max-width: 900px !important;
        }
        img {
            position: absolute;
            bottom: 1rem;
            width: 100%;
        }
    }
    // contact
    .contact {
        height: 350px;
        width: 100%;
        position: relative;
        @media (min-width: 768px) {
            height: 500px;
        }
        .container {
            .title-container2 {
                margin: 5.5rem auto;
                width: auto;
                height: 21px;
                background-color: $orange;
                display: flex;
                justify-content: center;
                align-items: center;
                @media (min-width: 768px) {
                    width: auto;
                }
                .h2Cont2 {
                    width: auto;
                    height: 96px;
                    background-color: $purple;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: white;
                    font-size: 30px;
                    @media (min-width: 768px) {
                        width: 469px;
                    }
                    h2 {
                        font-family: "Grenze Gotisch", cursive;
                        font-size: 60px;
                    }
                }
            }
            .flex-icon {
                display: flex;
                align-items: center;
                justify-content: start;
                gap: 1rem;
                margin-bottom: 1rem;
                @media (min-width: 768px) {
                    justify-content: center;
                    margin-top: 0;
                }
                img {
                    width: 40px;
                }
                p {
                    margin: 0;
                    font-size: 10px;
                    font-weight: 600;
                    @media (min-width: 768px) {
                        font-size: 30px;
                    }
                }
            }
        }
        .pink-div {
            position: absolute;
            bottom: 1rem;
            width: 100%;
        }
    }
    //Slider title
    .carousel-main {
        height: 330px;
        @media (min-width: 768px) {
            height: 435px;
        }
        .slider-title {
            .container {
                .title-container3 {
                    margin: 4rem auto;
                    width: auto;
                    height: 21px;
                    background-color: $pink;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    @media (min-width: 768px) {
                        width: auto;
                    }
                    .h2Cont3 {
                        width: auto;
                        height: 96px;
                        background-color: $blue;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        color: white;
                        @media (min-width: 768px) {
                            width: 469px;
                        }
                        h2 {
                            font-size: 60px;
                            font-family: "Grenze Gotisch", cursive;
                        }
                    }
                }
            }
        }
    }
    //Animations
    @keyframes scale {
        0% {
            transform: scale(1.3);
        }
        100% {
            transform: scale(1);
        }
    }
    @keyframes moveBanner {
        0% {
            transform: translateY(40rem) rotateY(-20deg);
        }
        100% {
            transform: translateY(0) rotateY(0);
            opacity: 1;
        }
    }
    // Footer
    .footer {
        background-image: url(../assets/footer/footer-bg.png);
        height: 300px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        width: 100%;
        display: none;
        @media (min-width: 768px) {
            display: block;
        }
        .flex-foot {
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: 100%;
            div {
                img {
                    width: 100px;
                }
                svg {
                    color: white;
                    font-size: 2rem;
                    margin: 1rem;
                    cursor: pointer;
                }
            }
        }
        .logo-foot {
            display: flex;
            justify-content: end;
            flex-direction: column;
            align-items: center;
            gap: 4rem;
            p {
                color: white;
                // font-family: 'Grenze Gotisch', cursive;
                margin-bottom: -4rem;
            }
        }
    }
    // end of footer
    .footer-mob {
        background-image: url(../assets/footer/footer-bgMob.png);
        height: 500px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        width: 100%;
        display: block;
        padding: 1rem;
        @media (min-width: 768px) {
            display: none;
        }
        .flex-fot {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            height: 100%;
            img {
                width: 200px;
            }
            .icon-flex {
                display: flex;
                gap: 1.8rem;
                svg {
                    color: white;
                    font-size: 2.3rem;
                    cursor: pointer;
                }
            }
            .txt-flex {
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: 1.4rem;
                p {
                    color: white;
                    font-size: 12px;
                    margin-bottom: 0;
                }
                img {
                    width: 60px;
                }
            }
        }
    }
}
// Slider
.carousel {
    width: 100%;
    height: auto;
    .carousel-inner {
        margin: 0 auto;
        .carousel-item {
            height: auto;
            width: 100%;
            img {
                width: 200px !important;
                margin: 0 auto;
                object-fit: contain;
                height: 200px;
                @media (min-width: 768px) {
                    width: 300px !important;
                    object-fit: contain;
                    height: 300px;
                }
            }
        }
    }
    h3 {
        text-align: center;
        font-family: "Grenze Gotisch", cursive;
    }
}
.carousel-control-next-icon {
    background-image: url(../assets/productos-png/next-arrow.svg) !important;
}
.carousel-control-prev-icon {
    background-image: url(../assets/productos-png/back-arrow.svg) !important;
}
.carousel-indicators {
    border-radius: 50px !important;
    bottom: -2rem !important;
    @media (min-width: 768px) {
        bottom: -2rem !important;
    }
}
.carousel-indicators [data-bs-target] {
    background-color: #2a0431 !important;
    width: 10px !important;
    height: 10px !important;
}
// End of slider
// Js classes
// Sidebar
.sidenav {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    right: -100%;
    background-image: url(../assets/hero/back-sidebar.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 100;
    transition: right 0.5s;
    opacity: 0.9;
    @media (min-width: 768px) {
        width: 400px;
    }
    .menu {
        list-style: none;
        position: absolute;
        top: 32%;
        left: 32.5%;
        transform: translateX(-40%, -40%);
        padding-left: 0;
        .menu-item {
            text-align: center;
            a {
                text-decoration: none;
                color: white;
                font-size: 2rem;
                transition: color 0.3s;
                &:hover {
                    color: #2a0431;
                }
            }
        }
    }
    .social-media {
        position: absolute;
        bottom: 3rem;
        width: 100%;
        display: flex;
        justify-content: center;
        svg {
            font-size: 2.2rem;
            margin: 2rem;
            color: white;
            transition: color 0.3s;
            &:hover {
                color: #2a0431;
            }
            cursor: pointer;
        }
    }
}
.change .sidenav {
    right: 0;
}
.hamburguer-menu {
    top: 3rem;
    right: 2rem;
    position: fixed;
    width: 2rem;
    height: 2rem;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    cursor: pointer;
    transition: right 0.7s;
    .line {
        width: 100%;
        height: 0.2rem;
        background-color: white;
        box-shadow: 0.1rem 0.2rem rgba(0, 0, 0, 0.2);
    }
}
.whats-icon {
    top: 6rem;
    right: 2rem;
    position: fixed;
    z-index: 2000;
    svg {
        width: 2rem;
        height: 2rem;
        cursor: pointer;
        color: $whats;
        @media (min-width: 768px) {
            width: 3rem;
            height: 3rem;
        }
    }
}
.phone-icon {
    top: 9rem;
    right: 2rem;
    position: fixed;
    z-index: 2000;
    svg {
        width: 2rem;
        height: 2rem;
        cursor: pointer;
        color: #0ac0dd;
        @media (min-width: 768px) {
            width: 3rem;
            height: 3rem;
        }
    }
}
.change .hamburguer-menu {
    right: 85%;
    @media (min-width: 768px) {
        right: 22rem;
    }
}
// End of sidebar
// end of js classes
